.sect-1{
    margin-top: 2%;
    width: 99vw;
}
.sec-cards-Parent{
    width: 99vw;
    margin-top:2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.sec-card{
    background-color: white;
    width: 23%;
    padding-bottom: 0;
    height: 49vh;
    box-shadow: 1px 1px 5px 1px gray;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5%;
    overflow: hidden;
}
.sec-img{
    height: 90%;
}
.sec-img img{
width: 70%;
height: 85%;
object-fit: contain;
transition: all .15s;
}
.sec-img img:hover{
    transform: scale(1.1);
}
.sec-title{
    background-color: whitesmoke;
    height: 15%;
    transition: all .20s;
    font-size: 18px;
    border-radius: 0 0 10px 10px;
}
.sec-title:hover{
    background-color: rgb(99, 99, 249);
    color: whitesmoke;
}

/* Media Query */
@media (max-width:600px){
    .sec-card{
        width: 45%;
        height: 31vh;
    }
    .sec-title{
        background-color: whitesmoke;
        height: 20%;
        transition: all .20s;
        font-size: 16px;
        border-radius: 0 0 10px 10px;
    }
}